### API ###
db-data
tmp
.DS_Store
api/images
api/public
api/api
api/api.exe
api/dist/api
db-data-prod
api/**/generated

### FE ###
shared/fe/api-client/dist
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
out
*.tgz
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
.cache
*.tsbuildinfo

### Mobile ###
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.pem
*.tsbuildinfo
/ios
/android
*.ipa
*.apk
*.aab

### Shared ###
.env*
.env*.local
!.env.example*
.idea
.DS_Store
