API_PORT=35230
GO_ENV=production
DB_CONNECTION_STRING=postgres://postgres:s0m3C0mpl3xP4ss@host.docker.internal:35232/postgres?sslmode=disable&connect_timeout=5
DB_MIGRATIONS_PATH=file://./database/migrations
DB_DEV_FORCE_MIGRATE_DOWN=false
API_PROD_URL=http://localhost:35230/
FE_PROD_URL=http://localhost:35230/
MOBILE_PROD_URL=myapp://calhost:35230/
OAUTH_GITHUB_CLIENT_ID=insert-here
OAUTH_GITHUB_CLIENT_SECRET=insert-here
OAUTH_GOOGLE_CLIENT_ID=insert-here
OAUTH_GOOGLE_CLIENT_SECRET=insert-here
OAUTH_FACEBOOK_CLIENT_ID=insert-here
OAUTH_FACEBOOK_CLIENT_SECRET=insert-here
OAUTH_SPOTIFY_CLIENT_ID=insert-here
OAUTH_SPOTIFY_CLIENT_SECRET=insert-here
IMAGES_PATH=/app/images
OAUTH_JWT_SECRET=your_super_secret_oauth_jwt_key
AUTH_JWT_SECRET=your_super_secret_auth_jwt_key
