API_PORT=35231

# development / production
GO_ENV=development

# postgres://user:password@db_ip:db_port/
DB_CONNECTION_STRING=postgres://postgres:s0m3C0mpl3xP4ss@localhost:35232/postgres?sslmode=disable&connect_timeout=5
DB_MIGRATIONS_PATH=file://./database/migrations
DB_DEV_FORCE_MIGRATE_DOWN=false # forces the migrations to be re-ran from the start.

# The site's API & FE production url. For cases where the api is hosted on a separate (sub)domain.
# For dev: http://127.0.0.1:${API_PORT}/
# For dev: http://127.0.0.1:${FE_PORT}/
API_PROD_URL=http://localhost:35231/
FE_PROD_URL=http://localhost:35230/

OAUTH_GITHUB_CLIENT_ID=INSERT_HERE
OAUTH_GITHUB_CLIENT_SECRET=INSERT_HERE
OAUTH_GOOGLE_CLIENT_ID=INSERT_HERE
OAUTH_GOOGLE_CLIENT_SECRET=INSERT_HERE
OAUTH_FACEBOOK_CLIENT_ID=INSERT_HERE
OAUTH_FACEBOOK_CLIENT_SECRET=INSERT_HERE
OAUTH_SPOTIFY_CLIENT_ID=INSERT_HERE
OAUTH_SPOTIFY_CLIENT_SECRET=INSERT_HERE

# HAS TO BE ABSOLUTE! HAS TO EXISTS!
IMAGES_PATH=/tmp/project-template-images

# openssl req -newkey rsa:4096 -new -nodes -x509 -days 3650 -keyout pokus.pem -out cert.pem
OAUTH_JWT_SECRET=dev_dummy_oauth_secret_replace_in_prod
# openssl req -newkey rsa:4096 -new -nodes -x509 -days 3650 -keyout pokus.pem -out cert.pem
AUTH_JWT_SECRET=dev_dummy_auth_secret_replace_in_prod
